<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ConcurencyAndDistribution_1QuequeApp_swing"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="swing.backup.Start_SERVER_CLIENTE_03_client_multipleMessages"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ConcurencyAndDistribution_1QuequeApp_swing"/>
</launchConfiguration>
